---
export interface Props {

category:string;
resourceType:string;
title: string;
url: string;

}

const {resourceType, category,title, url} = Astro.props as Props
---
     <span class={resourceType}>  {category}</span>
        <li class={resourceType}><a href={url} title={title} target='_blank'>{title}</a>
        </li>



     